
<%= form_with(model: testgroup) do |form| %>
  <% if testgroup.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(testgroup.errors.count, "error") %> prohibited this testgroup from being saved:</h2>

      <ul>
        <% testgroup.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :testcase %>
    <%= form.number_field :testcase_id %>
    <%#= form.number_field :testcase_id , :disabled => true , :value => @testcase_id %>

  </div>

  <div class="field">
    <%= form.label :module %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description %>
  </div>

  <div class="field">
    <%= form.label :case %>
    <%= form.number_field :case %>
  </div>



  <div class="field">
    <%= form.label :steps %>
    <%= form.text_area :steps %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
