<p id="notice"><%= notice %></p>


<p>
  <strong>Title:</strong>
  <%= @testgroup.title %>
</p>

<p>
  <strong>Test Case:</strong>
  <%= @testgroup.case %>
</p>

<p>
  <strong>Description:</strong>
  <%= @testgroup.description %>
</p>

<p>
  <strong>Steps:</strong>
  <%= simple_format(@testgroup.steps) %>
</p>

<% if @results.present? %>

<table>
  <thead>
    <tr >
      <th>Updated at</th>
      <th>Test Result</th>
      <th>Pass  Comment  Action</th>
    </tr>
  </thead>

  <tbody>
    <% @results.each do |r| %>
      <tr>
        <td> <%= r.updated_at  %></td>
        <td> <%= r.result  %></td>
        <td> <form action="/action_page.php">
            <input type="checkbox" id="pass" name="pass" value= <%= r.pass %>  >
            <input type="text" id="comment"  name="pass" value= <%= r.comment %> >
            <%= button_to "Update", edit_testresult_path, :method => "put" %>
         </form>
         </td>
      </tr>
    <% end %>
  </tbody>
</table>
<% else %>
  No Test Results...<br><br>
<% end %>

<%= link_to 'New Test results', new_testresult_path %> |

<%= link_to 'Edit', edit_testgroup_path(@testgroup) %> |
<%= link_to 'Back', testgroups_path %>
