
<%= form_with(model: testcase) do |form| %>
  <% if testcase.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(testcase.errors.count, "error") %> prohibited this testcase from being saved:</h2>

      <ul>
        <% testcase.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description %>
  </div>

  <div class="field">
    <%= form.label :authored %>
    <%= form.text_field :authored %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>

  <div class="field">
    <%= form.label :version %>
    <%= form.number_field :version %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
