<p id="notice"><%= notice %></p>

<h1>Test cases</h1>

<table >
  <thead>
    <tr>
      <th>Id</th>
      <th>Date</th>
      <th>Version</th>
      <th>Title</th>
      <th>Description</th>
      <th>Authored</th>
      <th>Modules</th>
      <th>Results</th>
      <th>Passed</th>
      <th>Failed</th>
      <th>Passed %</th>
      <th>Action</th>


    
    </tr>
  </thead>

  <tbody>
    <% @testcases.each do |testcase| %>
      <tr>
        <td><%= testcase.id %> </td>
        <td><%= testcase.created_at.strftime("%F") %></td>
        <td><%= testcase.version %></td>
        <td><%= testcase.title %></td>
        <td><%= testcase.description %></td>
        <td><%=  mail_to testcase.email, testcase.authored  %></td>
        <td> <%=  Testgroup.where(testcase: testcase.id).count %> </td>
        <td> <%= @total =Testresult.where(testgroup_id: testcase.id).count %> </td>
        <td> <%= @passed =Testresult.where(testgroup_id: testcase.id , pass: true).count %> </td>
        <td> <%= Testresult.where(testgroup_id: testcase.id , pass: false).count %> </td>
        <td> <%= @pass_percentage =  ((@passed  / @total.to_f) *100).round(2) %> % </td>
        <td><%= link_to 'Show', testcase %> |
        <%= link_to 'Edit', edit_testcase_path(testcase) %> |
        <%= link_to 'Destroy', testcase, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%== pagy_nav(@pagy) %>

<%= link_to 'New Testcase', new_testcase_path %>
