<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @testcase.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @testcase.description %>
</p>

<p>
  <strong>Authored:</strong>
  <%= @testcase.authored %>
</p>

<p>
  <strong>Email:</strong>
  <%= @testcase.email %>
</p>

<p>
  <strong>Version:</strong>
  <%= @testcase.version %>
</p>



<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
    </tr>
  </thead>

  <tbody>
    <% @testgroup.each do |tg| %>
      <tr>
        <td> <%= tg.title  %></td>
        <td> <%= tg.description %></td>

      </tr>
    <% end %>
  </tbody>
</table>


<%= link_to 'Edit', edit_testcase_path(@testcase) %> |
<%= link_to 'Back', testcases_path %>
